@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    overflow: hidden;
    font-family: 'Cinzel', serif;
    background: black;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    perspective: 1200px;
    overflow: hidden;
}

/* PARALLAX LAYERS */
.parallax {
    position: absolute;
    width: 110%;
    height: 110%;
    background: url("battle.jpg") center/cover no-repeat;
    transition: transform 0.1s;
}

.layer1 { z-index: 1; }
.layer2 { opacity: 0.6; z-index: 2; }

/* Rain Canvas */
#rainCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/* Lightning Flash */
.lightning {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 10;
    z-index: 3;
}

/* Trailer Text */
.trailer-text {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;
    z-index: 5;
    opacity: 0;
    text-shadow: 0 0 20px white;
}